{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  <body>
    <h1>Bye-bye {{ bigName }}!</h1>

    <p>
      C'est mon premier exo que je fais seul. Il consiste en gros à faire une copie du hello world mais cela permet d'être sûr de bien comprendre comment faire une route, un controlleur et une action dans le controlleur ainsi qu'un template :-)
    </p>
  </body>
</html>
